 
 <!-- jQuery for Datatable-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<!-- Data Table JS -->
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

  <!-- Include jquery mark ( for highlighting text )-->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/6.1.0/jquery.mark.min.js"
></script>


<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="./js/datatable.js"></script> 
</body>
</html>
