<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Growth Charts Data Table of BMI</title>
  
    <!-- Latest compiled and minified CSS -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link href="./css/style.css" rel="stylesheet"/> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css"
  />
  </head>
  <body>
    <header id="header" class="header fixed-top d-flex align-items-center bg-primary mb-5" >
      <div class="d-flex align-items-center justify-content-between">
        <a href="./" class="logo d-flex align-items-center">
           <!-- Image Icon -->
          
          <span class=" d-none d-lg-block ms-2 text-white text-nowrap">National Center for Health Statistics</span>
         
        </a>
       
      </div>
      <!-- End Logo -->
  
     
   
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
   