
:root {
  scroll-behavior: smooth;
}


body {
  font-family: "Nunito", sans-serif !important;
  background: #F0FFF0 !important;

}


/*****************************/
.logo span {
  font-size: 26px;
  text-decoration: none;
  color: #012970;
  
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  font-family: "Nunito", sans-serif;
  padding-left: 20px;
 
}

.logo {
  text-decoration: none;
}

.logo:hover{
  background-color: #0099CC;
}

.container{
  margin-top: 10px;
}
.para{
  font-size: 16px;
}
.para2{
  font-size: 16px;
    
  }
 
   .list-unstyled .bullet {
    margin-right: 0.5em;
  }

  .list-unstyled .para2 {
    display: flex;
    align-items: center;
  }
 
  .gender-title{
   
   font-size: 18px;
    margin-bottom: 2px;
  }
  .table th, .table td {
  font-size: 15px;
  font-weight: normal;
}
.gender a {
  text-decoration: underline;
  color: #007bff; 
  transition: color 0.3s;
}
.gender a:hover {
 text-decoration: none;
  color: #0056b3; 
}




/*datatables*/

.wrapper {
  margin-top: 5vh;
}
.dataTables_filter input[type="search"] {
  margin-bottom: 5px;
}

 


.dataTables_filter {
  float: right;
  
}

.table-hover > tbody > tr:hover {
  background-color: #ccffff;
}

@media only screen and (min-width: 768px) {
  .table {
    table-layout: fixed;
    max-width: 100% !important;
  }
}

/*thead {
  background: orange;
}*/

.table td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  background: #ffff99;
}

@media only screen and (max-width: 767px) {
 
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  
  thead tr,
  tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
   
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  td:before {
   
    position: absolute;
    
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table td:nth-child(1) {
    background: #ccc;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
  }

/*table highlight*/


}