<%- include("../partials/header") %>
<style>
  mark {
    padding: 0px;
    background-color: rgba(76, 175, 80, 0.7);
  }
</style>
<div class="container">
  <h3 class="title text-dark">Data Table of BMI-for-age Charts</h3>
  <div class="para text-center mt-5">
    <p>Body Mass Index, or BMI, is calculated using the following formula:</p>
    <p>
      BMI = Weight (in kilograms)/Height (in meters)&nbsp;<sup class="text-top"
        >2</sup
      >
    </p>
  </div>
  <div class="gender ms-4">
    <ul class="list-unstyled">
      <li class="para2">
        <span class="bullet fw-bold">&bull;</span>
        <a href="./male" class="mb-0">Males, 2-20 years</a>
      </li>
      <li class="para2">
        <span class="bullet fw-bold">&bull;</span>
        <a href="./female" class="text-primary underline mt-0"
          >Females, 2-20 years</a
        >
      </li>
    </ul>
  </div>
  <h5 class="gender-title text-muted ms-3">Males, 2-20 years</h5>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <table
            class="table table-striped border"
            id="male"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th class="border fw-bold">Age (in months)</th>

                <th class="border fw-bold">3rd Percentile BMI Value</th>
                <th class="border fw-bold">5th Percentile BMI Value</th>
                <th class="border fw-bold">10th Percentile BMI Value</th>
                <th class="border fw-bold">25th Percentile BMI Value</th>
                <th class="border fw-bold">50th Percentile BMI Value</th>
                <th class="border fw-bold">75th Percentile BMI Value</th>
                <th class="border fw-bold">85th Percentile BMI Value</th>
                <th class="border fw-bold">90th Percentile BMI Value</th>
                <th class="border fw-bold">95th Percentile BMI Value</th>
                <th class="border fw-bold">97th Percentile BMI Value</th>
              </tr>
            </thead>
            <tbody>
              <% if(data && data.length > 0) { %> <% for (let i = 0; i <
              data.length; i++) { %> <% if (data[i].gender === 'M') { %>
              <tr>
                <td class="fw-bold"><%= data[i].age %></td>

                <td><%= data[i].p3rd %></td>
                <td><%= data[i].p5th %></td>
                <td><%= data[i].p10th %></td>
                <td><%= data[i].p25th %></td>
                <td><%= data[i].p50th %></td>
                <td><%= data[i].p75th %></td>
                <td><%= data[i].p85th %></td>
                <td><%= data[i].p90th %></td>
                <td><%= data[i].p95th %></td>
                <td><%= data[i].p97th %></td>
              </tr>
              <% } %> <% } %> <% } else { %>
              <tr>
                <td colspan="11">No male data available</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
